<!DOCTYPE html>
<head>
    <title>{{ companyName }} - Anvey dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/custom.css">

</head>
<body>
    {% include "components/avatar.html" %}
<div>
 <h1 class="is-size-1 center-text">Hey {{user.username}}!</h1>
</div>
<div style="margin-top: 10%;">
    <div class="dashboard-container">
    <div class="dashboard-page-option" onclick="window.location.href = '/dashboard/forms'">
    <sl-icon name="clipboard" class="dashboard-icon"></sl-icon>
    <h1 class="center-text">Forms</h1>
    <h1 class="center-text" style="font-size: var(--sl-font-size-medium);">View and create forms</h1>
    </div>
    <div class="dashboard-page-option" onclick="window.location.href = '/dashboard/responses'">
        <sl-icon name="chat-left" class="dashboard-icon"></sl-icon>
        <h1 class="center-text">Responses</h1>
        <h1 class="center-text" style="font-size: var(--sl-font-size-medium);">View form responses</h1>
    </div>
    <div class="dashboard-page-option" onclick="window.location.href = '/dashboard/settings'">
        <sl-icon name="gear" class="dashboard-icon"></sl-icon>
        <h1 class="center-text">Settings</h1>
        <h1 class="center-text" style="font-size: var(--sl-font-size-medium);">View and modify settings</h1>
        </div>
    {% if user.admin %} 
    <div class="dashboard-page-option" onclick="window.location.href = '/dashboard/users'">
        <sl-icon name="people" class="dashboard-icon"></sl-icon>
        <h1 class="center-text">Users</h1>
        <h1 class="center-text" style="font-size: var(--sl-font-size-medium);">View and manage users</h1>
        </div>
    {% endif %}

</div>
</div>
</body>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.34/dist/themes/base.css">
<script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.34/dist/shoelace.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</body>
</html>