<!DOCTYPE html>
<head>
    <title>{{ companyName }} - Anvey dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/custom.css">

</head>
<body>
    {% include "components/avatar.html" %}
<div>
 <h1 class="is-size-1 center-text">Forms</h1>
</div>
<div style="display: flex; justify-content: center; margin: 10px;">
    <sl-button onclick="window.location.href = '/dashboard/forms/new'">New form</sl-button>
    </div>
<div class="dashboard-container">
    
    <div class="table">
        {% for forms in forms %}
        <div class="form-listing" onclick="window.location.href = '/dashboard/forms/view/{{forms.id}}'">
            {# It would be useful to have a right arrow to show that you can click it #}
{{ forms.title }}
<br>
{{ forms.description }}
</div>
<p id="remove-field-button" onclick="window.location.href = '/dashboard/forms/remove/{{forms.id}}'" style="user-select: none; text-decoration: underline; cursor: pointer;">Remove</p>
<hr class="divider">

        {% endfor %}
    </div>
  </div>
</body>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.34/dist/themes/base.css">
<script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.34/dist/shoelace.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</body>
</html>