<!DOCTYPE html>
<head>
    <title>{{ companyName }} - Anvey login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/custom.css">

</head>
<body>
  {% if admin %}
<div style="margin-top: 10%;" class="login">
  <sl-form class="form-overview login-form">
    <sl-input name="username" type="text" label="Username"></sl-input>
    <br>
    <sl-input name="password" type="password" label="Password"></sl-input>
    <br>
    <sl-button submit>Login</sl-button>
  </sl-form>
</div>
<script>
 const form = document.querySelector('.form-overview');
  
  form.addEventListener('sl-submit', event => {
    const formData = event.detail.formData;
    arr = [];
    for (let entry of formData.entries()) {
  arr.push({name: entry[0], value: entry[1]})
  }
  fetch('/auth', {
      method: 'POST',
      redirect: 'follow',
      headers: {
    'Content-Type': 'application/json'
      },
      body: JSON.stringify(arr)
  }) 
  .then(response => {
    if (response.redirected) {
          window.location.href = response.url;
        }
    })
    .catch(function(err) {
        console.error(err);
    });
  });
  </script>
  {% else %} 
{# Show a signup here #}
  {% endif %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.34/dist/themes/base.css">
<script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.34/dist/shoelace.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</body>
</html>