<!DOCTYPE html>
<head>
    <title>{{ companyName }} - Anvey dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/custom.css">

</head>
<body>
    {% include "components/avatar.html" %}
<div>
 <h1 class="is-size-1 center-text">New form</h1>
</div>
<div style="margin-top: 10%;" class="login">
    <sl-form class="form-overview login-form input-validation-required" style="max-width: unset !important;">
      <div id="form-inputs">
      <sl-input name="title" type="text" label="Title" required></sl-input>
      <br>
      <sl-input name="description" type="text" label="Description" required></sl-input>
      <br>
    </div>
      <div style="display: flex; justify-content: center; margin: 10px;">
      <sl-button id="add-field-button">Add field</sl-button>
    </div>
      <br>
      <div style="display: flex; justify-content: center; margin: 10px;">
        <sl-button id="submit-button" submit>Create</sl-button>
        </div>
    </sl-form>
  </div>
  <div id="added-field" style="display: none;">
  {#  <div id="remove-field-button">
    <sl-icon name="trash" style="position: absolute; padding-left: 80px; padding-top: 4px; cursor: pointer;" ></sl-icon>
  </div> #}
    <sl-input name="question" type="text" label="Question" required></sl-input>
    <sl-select name="type" label="Select the question type" required>
      <sl-menu-item value="text">Text</sl-menu-item>
      <sl-menu-item value="number">Number</sl-menu-item>
      <sl-menu-item value="yesorno">Yes/No</sl-menu-item>
    </sl-select>
 {#  <p id="remove-field-button" onclick="removeField()" style="margin: 0; user-select: none;">Remove</p> #}
    <br>
  </div>
  <script>
    removeID = 0;
    document.getElementById('add-field-button').addEventListener('click', event => {
      removeID++
      const input = document.createElement('div');
      input.id = removeID
      const deleteButton = '<p id="remove-field-button" onclick="removeField(' + removeID + ')" style="margin-top: -20px; user-select: none; text-decoration: underline;">Remove</p>'
	    input.innerHTML = document.getElementById('added-field').innerHTML + deleteButton;
	    document.getElementById('form-inputs').appendChild(input);
     });
     function removeField(ID){
       const item = document.getElementById(ID)
       document.getElementById('form-inputs').removeChild(item)
     }
  </script>
  <script>
    const form = document.querySelector('.form-overview');
     
     form.addEventListener('sl-submit', event => {
       document.getElementById("submit-button").loading = true;
       const formData = event.detail.formData;
       arr = [];
       for (let entry of formData.entries()) {
     arr.push({name: entry[0], value: entry[1]})
     }
     fetch('/dashboard/forms/new', {
         method: 'POST',
         redirect: 'follow',
         headers: {
       'Content-Type': 'application/json'
         },
         body: JSON.stringify(arr)
     }) 
     .then(response => {
       if (response.redirected) {
             window.location.href = response.url;
           }
       })
       .catch(function(err) {
           document.getElementById("submit-button").loading = false;
           console.error(err);
       });
     });
     </script>
</body>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.34/dist/themes/base.css">
<script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.34/dist/shoelace.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</body>
</html>