@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");
body {
  font-family: 'Nunito'; }

.center-text {
  text-align: center; }

.login {
  margin-right: 20px;
  margin-left: 20px; }

.login-form {
  border: solid 1px var(--sl-color-gray-200);
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  margin: auto; }
